<div id="vBanner_Root">
    <div id="vBanner_Container" style="background-image: linear-gradient(to bottom right, white ,{{ vData.color }})">
        <a href="{{vData.link}}">
            <div id="vBanner_post" title="{{vData.name}}" style="background-image:url({{ vData.banner }})"></div>
        </a>
        <div id="vLogo_Container">
            {% if vData.logo.length > 0 %}
                {% if 
                    vData.logo.substr(vData.logo.lastIndexOf(".")+1) == 'png' or 
                    vData.logo.substr(vData.logo.lastIndexOf(".")+1) == 'jpg' or 
                    vData.logo.substr(vData.logo.lastIndexOf(".")+1) == 'jpeg' or
                    vData.logo.substr(vData.logo.lastIndexOf(".")+1) == 'webp'
                 %}
                   <div id="vBanner_logo" style="background-image:url({{ vData.logo }})"></div>     
                {% else %}
                    <div id="vBanner_name">{{vData.name}}</div>
                {% endif %}    
            {% else %}
                <div id="vBanner_name">{{vData.name}}</div>
            {% endif %}
        </div>
    </div>
</div>